* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fefbf1;
  --green: #084935;
  --text-primary: #703412;
  --text-light: #fff;
}

body {
  max-width: 1200px;
  margin: auto;
  padding-inline: 15px;
  background-color: var(--main-color);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1056px;
  margin: auto;
}

  a  {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
}

header a {
  color: var(--text-primary);
}

ul {
  list-style-type: none;
}

header ul {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

header a {
  font-size: 0.875rem;
  line-height: 1.5;
}

 header a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  top: 100%;
  background-color: currentColor;
  transition: width 0.2s ease-in-out;
}

a:hover:after {
  width: 100%;
}

.founders {
  margin-block-start: 120px;
  margin-block-end: 96px;
}

.founders p {
  font-size: 0.6875rem;
  line-height: 4;
  margin-bottom: 21px;
}

.founders h1 {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 400;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 60px;
  row-gap: 96px;
}

.cards > div {
  flex-grow: 1;
  flex-basis: 300px;
}

.cards img {
  width: 100%;
}

.cards h4 {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 11px;
}

.cards p {
  font-size: 12px;
  line-height: 1.5;
}
footer{
  background-color:#084935 ;
  /* margin-bottom: 81px; */
  margin-top: 108px;
}
.text1 p{
  padding-top: 120px;
  margin-left: 72px;
  color: #FFFFFF;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
span{
  color: rgba(255, 255, 255, 0.726);
}
.text2 h2{
  color: white;
  font-size: 29px;
  line-height: 38.4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-left: 72px;
  margin-top: 24px;
}
.list1 ul li a{
  margin-left: 72px;
  color: rgba(255, 255, 255, 0.744);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.list1 ul li{
  list-style: none;
}


.list2  li a{
  color: rgba(255, 255, 255, 0.744);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.list2  li{
  list-style: none;
  
}

.list{
  display: flex;
  margin-top: 110px;
  gap: 169px;
 
  
}
.list3  li a{
  color: rgba(255, 255, 255, 0.744);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.list3  li{
  list-style: none;
  
}
.list4  li a{
  color: rgba(255, 255, 255, 0.744);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.list4  li{
  list-style: none;
  color: rgba(255, 255, 255, 0.744);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.footer2 p{
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 19px 0 21px 72px;
}
hr{
  background-color: rgba(255, 255, 255, 0.038);
  margin-top: 81px;
}
.border{
  color:rgba(255, 255, 255, 0.167);
  width: 1200px;
  height: 0;
  border: 1px solid;
  margin-top: 81px;
}
